# .env.example
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=pankiv.roma@gmail.com
SMTP_PASSWORD="yqnd zkgh jkoq eutw"
SMTP_FROM=pankiv.roma@gmail.com
BASE_URL=https://your-news-hub-app.example.com
VITE_SUPPORT_SERVICE_URL=https://newshub-support-service.onrender.com

# Database
# Example Neon PostgreSQL: postgresql://user:pass@ep-hostname.region.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=sqlite:///./database.db

# JWT Configuration
SECRET_KEY=yoursecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# LiqPay Configuration
LIQPAY_PUBLIC_KEY=sandbox_i20112707828
LIQPAY_PRIVATE_KEY=sandbox_4ljFR8EPfoJLzzz5rX7Xk6VJ4o5jOSYP7dTzVGw3
LIQPAY_RESULT_URL=http://localhost:3000/donate?status=success
LIQPAY_SERVER_URL=http://your-server-api.com/api/donations/liqpay/callback
